.container {
    max-width: 1200px;
    display: grid;
    grid-gap: 2rem;
    column-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: auto;
    justify-items: center;
  }

.header h3 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 20px; 
    padding-top: 20px;
}
